@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

#root {
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Lexend', sans-serif;
}

.regitstration-form-container {
  height: auto;
  width: 30rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px_20px_207px_0px_rgba(165,_39,_255,_0.48);
}

.registration-form-title {
  color: #3b82f6;
}

.registration-form {
  color: grey;
  display: flex;
  flex-direction: column;
}

#registration-form-btn {
  background-color: #3b82f6;
  color: white;
}

.registration-form label {
  font-size: 1.2rem;
}

.registration-form input {
  background-color: white;
  color: grey;
  font-size: large;
  border: 0.1px solid grey;
  border-radius: 4px;
  height: 2rem;
  padding: 0.4rem;
}

#registration-form-role {
  background-color: white;
  color: grey;
  font-size: large;
  border: 0.1px solid grey;
  border-radius: 4px;
  padding: 0.4rem;
}

#error-text {
  color: red;
  font-weight: bold;
}

#registration-sumarry {
  height: auto;
  width: 30rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px_20px_207px_0px_rgba(165,_39,_255,_0.48);
  margin-top: 1rem;
}

#registration-sumarry h2 {
  color: #3b82f6;
}

#registration-sumarry p {
  color: grey;
}

#terms-and-condition {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#terms {
  height: 400px;
  width: 600px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px_20px_207px_0px_rgba(165,_39,_255,_0.48);
  padding: 1rem;
  overflow-y: scroll;
}

#terms h2 {
  color: #3b82f6;
}

#terms button {
  background-color: #3b82f6;
  color: white;
}